{{/* Arquivo: layouts/blog/list.html */}}
{{ define "main" }}

  {{/* Adiciona o título da seção (do _index.md) como H1 */}}
  {{/* Adicione a classe 'visually-hidden' se quiser escondê-lo visualmente */}}
  <h1 {{ if site.Params.EsconderH1Blog }}class="visually-hidden"{{ end }}>{{ .Title }}</h1>

  {{/* Adiciona o conteúdo/texto introdutório do _index.md */}}
  <div class="page-content-list">
    {{ .Content }}
  </div>

  {{/* Código original que lista os posts */}}
  <ul>
    {{ range .Pages }}
    <li>
      <div style="display: flex; justify-content: space-between; align-items: baseline;">
        <a style="margin-right: 1em; text-decoration: none;" href="{{ .Permalink }}">{{ .Title }}</a>
        <span>{{ partial "format_date_pt.html" .Date }}</span> </div>
    </li>
    {{ end }}
  </ul>

{{ end }}
