{{/* Importa a fonte Literata */}}
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400&display=swap"></noscript>

{{/* Link para Auto-Descoberta do Feed RSS (Adicionado Aqui) */}}
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ with .OutputFormats.Get "RSS" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{/* Bloco de Favicons (Mantido como estava) */}}
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Coaxito" /> {{/* Corrigi o nome do atributo aqui, era apple-mobile-web-coaxito */}}
<link rel="manifest" href="/site.webmanifest" />


{{/* Verificação de Domínio do Pinterest (Se você adicionou aqui, mantenha) */}}
{{/* <meta name="p:domain_verify" content="SEU_CODIGO_DE_VERIFICACAO_AQUI"/> */}}


{{/* Link para Flaticon Uicons - TODOS os estilos (Mantido) */}}
<link href='https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css' rel='stylesheet'>

{{/* Carrega o CSS Customizado (Adicionado Aqui) */}}
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}">


{{/* O BLOCO INTEIRO "{{ if .IsHome }} ... {{ end }}" 
    QUE ADICIONAVA AS TAGS OG:IMAGE E TWITTER:IMAGE 
    ESPECÍFICAS DA HOMEPAGE FOI REMOVIDO DAQUI.
    ESSAS TAGS SERÃO AGORA GERADAS SOMENTE PELO seo_tags.html
*/}}


{{/* Este arquivo pode ser usado no futuro para adicionar outras meta tags, links ou scripts na head */}}
